@page "/"
@using BP.ShoppingTracker.D10.Models.Products

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView Roles="admin">
    <Authorized>
        <text>Autorizado, @context.User.Identity.Name</text>
    </Authorized>
    <NotAuthorized>
        <text>No autorizado</text>
    </NotAuthorized>
</AuthorizeView>

<button class="btn btn-outline-primary" @onclick="Pedir">Pedir</button>

@code {
    [Inject] public Repository.ProductRepo Repo { get; set; }

    public async void Pedir()
    {
        var response = await Repo.GetAsync<List<ProductType>>(Repository.Endpoints.PRODUCT_TYPE);
        if(response.Response is not null)
        {
            
        }
    }
}
