<div class="accordion" id="accordionSidebar">
    <div class="accordion-item">
        <h2 class="accordion-header" id="listSidebar">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                contenido
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Productos</strong>
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/product" Match="NavLinkMatch.All">
                                    General
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/product/list">
                                    Lista
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Tipos de producto</strong>
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/product-type" Match="NavLinkMatch.All">
                                    Lista
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/product-type/product-category">
                                    Categorías
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Marcas</strong>
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/brand">
                                    Lista
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Formatos</strong>
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/format-type" >
                                    Tipos
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="catalog/format" Match="NavLinkMatch.All">
                                    Lista
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




@code {
    private bool collapseNavMenu = true;

    private string? SidebarCSS => collapseNavMenu ? "collapse" : null;

    private void ToggleSidebar()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}