@if (categories is not null)
{
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" @onclick="() => Edition = new()">Crear nuevo</button>
        </div>
    </div>
    <Table TRow="ProductCategory" Items="categories">
        <TableColumn TRow="ProductCategory" Field="c => c.Name" Title="Nombre" SortFirst="true" />
        <TableColumn TRow="ProductCategory" Field="c => c.Description" Title="Descripción" />
        <TableColumn TRow="ProductCategory" Field="c => c.Active" Context="Row" Title="Activo">
            @if (Row.IsActive)
            {
                <span class="oi oi-check"></span>
            }
            else
            {
                <span class="oi oi-x"></span>
            }
        </TableColumn>
        <TableColumn TRow="ProductCategory" Context="Row" Title="Acciones">
            <button class="btn" @onclick="() => Edition = Row"><span class="oi oi-pencil"></span></button>
            <button class="btn" @onclick="() => HandleDelete(Row)"><span class="oi oi-x"></span></button>
        </TableColumn>
    </Table>
    @if (Edition is not null)
    {
        <ProductCategoryEditor Model="Edition" OnEditionFinished="HandleEditionFinished" />
    }
}
else
{
    <Loader />
}


@code {
    [Inject] IRepoClient Repo { get; set; }
    [Inject] BP.Components.Blazor.UI.FrontendUtils.NotificationService Popup { get; set; }

    private List<ProductCategory> categories { get; set; }
    private ProductCategory Edition { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Reload();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task Reload()
    {
        var result = await Repo.GetAsync<IEnumerable<ProductCategory>>(EndpointProduct.PRODUCT_CATEGORY);
        if (result.Success)
            categories = result.Response.ToList();
        await InvokeAsync(StateHasChanged);
    }

    private async void HandleEditionFinished(ProductCategory productCategory)
    {
        if (productCategory is null)
        {
            Edition = null;
            return;
        }
        var result = new RepoResponse<object>();
        if (productCategory.Id == default(Guid))
        {
            productCategory.Id = Guid.NewGuid();
            result = await Repo.PostAsync<ProductCategory>(EndpointProduct.PRODUCT_CATEGORY, productCategory);
        }
        else
            result = await Repo.PutAsync<ProductCategory>(EndpointProduct.PRODUCT_CATEGORY, productCategory);
        if (result.Success)
        {
            await Popup.ShowSucess("Actualizado correctamente");
            Edition = null;
            Reload();
        }
        else
        {
            await Popup.ShowError("No se pudo actualizar");
        }
    }

    private async void HandleDelete(ProductCategory productCategory)
    {
        var confirm = await Popup.ShowPrompt($"¿De verdad desea eliminar la categoría {productCategory.Name}?", "Sí, eliminar.", "No");
        if (confirm)
        {
            var result = await Repo.DeleteAsync<ProductCategory>(EndpointProduct.PRODUCT_CATEGORY, productCategory);
            if (result.Success)
                await Popup.ShowSucess("Eliminado!");
            else
                await Popup.ShowError($"Ups! No se pudo eliminar: {await result.ReadAsStringAsync()}");
        }
        await Reload();
    }
}