<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity.Name</span>
        <a href="Logout" class="nav-link btn btn-link">Cerrar sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="signin">Registro</a>
        <a href="login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>
