@if (productTypes is not null)
{
    <Table TRow="ProductType" Data="productTypes">
        <TableColumn TRow="ProductType" Expression="p => p.Name" Title="Nombre" />
        <TableColumn TRow="ProductType" Expression="p => p.Description" Title="Descripción" />
        <TableColumn TRow="ProductType" Expression="p => p.ProductCategory.Name" Title="Categoría"/>
    </Table>
}


@code {
    [Inject] IRepoClient Repo { get; set; }

    private IEnumerable<ProductType> productTypes;

    protected override async Task OnParametersSetAsync()
    {
        var response = await Repo.GetAsync<IEnumerable<ProductType>>(EndpointProduct.PRODUCT_TYPE);
        if (response.Success)
            productTypes = response.Response;
        await base.OnParametersSetAsync();
    }
}